<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="Version7" connectionString="Data Source=ironman; Initial Catalog=dev_07.00; User Id=sa; Password=password;" />
  </connectionStrings>
  <appSettings>
    <add key="Version7:SolutionName" value="Consensus" />
    <add key="Version7:SolutionPath" value="C:\Development\ConsensusV7" />
    <add key="Version7:SolutionVersion" value="7.0.0" />
  </appSettings>
</configuration>